
  <div class="row">
  <div class="span12">
    <h1>Rentals:</h1> <h3><strong><%=params[:range_start]%></strong> to <strong><%=params[:range_end]%></strong></h3><br><br>
  
     <% if(@dates.length == 0)%>
      No Rentals found for Date Range
      <% end%>
    
    <% @dates.each do |day| %>
      <div style="margin:15px 0 0 0;" class="page-header">
         <h2><%= day.strftime('%A, %B %d, %Y') %></h2>
      </div>
      <%
      dayLocations = []
      dayRentals = @rentals.select do |rental|
        if(rental.deliveryDate == day || rental.pickupDate == day)
          dayLocations << rental.location_id
          true
        else
          false
        end
      end
      
      dayLocations = dayLocations.uniq %>
    
      <%
      dayLocations.each do |location|
        cCustomer = @customers[@locations[location].customer_id]
        cLocation = @locations[location]
        locationPickups = []
        locationDeliveries = dayRentals.select do |rental|
          if(rental.location_id == location)
            if(rental.deliveryDate == day)
              true
            else
              locationPickups << rental
              false
            end
          else
            false
          end
        end
        
          %>
          <div class="row">
            <div class="span5" style="border-right: 1px solid #CCCCCC;">
                <h3>Customer:</h3>
                <h4 style="display:inline-block;margin-bottom:10px;"><%= cCustomer.first_name %> <%=  cCustomer.last_name %></h4><br>
                <br>
                  <% if(cCustomer.email != '') %><strong><br><%= cCustomer.email %></strong><% end %>
                  <% if(cCustomer.phone != '') %><br><%= cCustomer.phone %> <% end %>
                  <% if(cCustomer.note != '') %><br><%= cCustomer.note %> <% end %>
            </div>
            <div class="span5">
              <h3>Delivery/Pickup Location:</h3>
              <h4 style="display:inline-block;"><%= cLocation.first_name %> <%= cLocation.last_name %></h4>
              <br><br>
              <address>
                <% if(cLocation.company != '') %><strong><br><%= cLocation.company %></strong><% end %>
                <% if(cLocation.address1 != '') %><br><%= cLocation.address1 %><% end %>
                <% if(cLocation.address2 != '') %><br><%= cLocation.address2 %><% end %>
                <% if(cLocation.city != '') %><br><%= cLocation.city %><% end %><% if(cLocation.province != '') %>, <%= cLocation.province %><% end %><% if(cLocation.zip != '') %>, <%= cLocation.zip %><% end %>
                <% if(cLocation.phone != '') %><br><%= cLocation.phone %><% end %>
              </address>
            </div>
          </div><!-- end row -->
       
    
          
    
          
          <br>
          <div class="row">
            <div class="span11">
            <% if locationDeliveries.length > 0 %>
            <h4>Deliveries:</h4>
              <table class="table  rental">
                <tbody>
                <% locationDeliveries.each do |rental| %>
                  <tr>
                    <td><%= rental.product.title %></td>
                    <td><%= rental.rental_type %></td>
                  </tr>
                 <% end %>
                </tboby>
              </table>
            <% end #end if deliveries %>
            
            <% if locationPickups.length > 0 %>
            <h4>Pickups:</h4>
              <table class="table rental">
                <tbody>
                <% locationPickups.each do |rental| %>
                  <tr>
                    <td><%= rental.product.title %></td>
                    <td><%= rental.rental_type %></td>
                  </tr>
                 <% end %>
                </tboby>
              </table>
            <% end #end if deliveries %>
            
            </div>
          </div><!-- end row -->
         
          
         
      <% end # end location block %>
  <% end # end day block %>
    
  </div><!-- end span12 -->
</div><!-- end row -->
  
  <script>window.print();</script>
    <style>
      div.navbar{display:none !important;}
      html, body{background-color: #FFFFFF !important;}
    </style>