<% content_for(:head) do %>
   <%= javascript_include_tag 'admin/inventory'%>
  <%= javascript_include_tag 'admin/modal_product'%>
<% end %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Product Inventory</h1>
    </div>
    <% @products.each do |product|%>
    <div class="inventoryItem row">
        <div class="span1">
          <a class="showProduct" data-productid="<%=product.id%>" href="javascript:void(null);"><img class="thumbnail" src="<%=product.productImage%>"/></a>
        </div>
        <div class="span5 productCont">
          <a class="showProduct" data-productid="<%=product.id%>"  style="font-size: 17px;" href="javascript:void(null);"><%=product.title%></a><br>
          <%=product.body_html.html_safe%>
        </div>
        <div class="span3">
          <strong>Upcoming Rentals</strong><br>
          <% rentals = Rental.find(:all, :order => "deliveryDate ASC", :conditions => ['product_id = ? AND pickupDate >= ?', product.id, Date.today])%>
          <%= if(rentals.length == 0) then "None" end%>
          <%rentals.each do |rental|
          %>
          <%=rental.deliveryDate%> to <%=rental.pickupDate%><br>
          <%end%>
        </div>
        <div class="productControls span3">
          <form class="well form-inline"
            <label for="input-<%=product.id%>" class="control-label">Quantity:</label>
            <input type="text" id="input-<%=product.id%>" value="<%=product.quantity%>" class="span1">
            <a data-productid="<%=product.id%>" class="btn updateQuantity">Update</a>
          </form>
          
        </div><!-- end product controls-->
      </div>
    <%end%>
    
  </div><!-- end span12 -->
</div><!-- End row -->