<% content_for(:head) do %>
  <%= javascript_include_tag ''%>
<% end %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Add <strong>Single</strong> Rental to <%=@customer.first_name%> <%=@customer.last_name%></h1>
    </div>
    <h3>Delivery Location:</h3>
    <div class="well" id="customerLocations">
      <% @locations.each do |location| %>
      <div data-locationid="<%=location[:id]%>" class="customerLocation">
        <!-- <a style="" class="btn btn-primary" href="javascript:void(null);"><i class="icon-ok icon-white"></i> Selected</a> -->
        <a style="" class="btn" href="javascript:void(null);"></i>Select</a> <strong><%=location.address1%> <%=location.address1%></strong>, <%=location.city%>, <%=location.zip%>
      </div>
      <%end%>
    </div>
    <h3>Dates</h3>
    <form class="well">
          <a id="rangeStart_btn" class="btn" href="javascript:void(null);"><i class="icon-calendar"></i> Delivery: </a>
          <input id="rangeStart" class="input-small" type="text" value=""/>
          <a id="rangeEnd_btn" style="margin-left: 5px;" class="btn" href="javascript:void(null);"><i class="icon-calendar"></i> Pickup: </a>
          <input id="rangeEnd" class="input-small" type="text" value=""/>
          <a id ="rangeRefresh" style="margin-left: 5px;" class="btn" href="javascript:void(null);"><i class="icon-refresh"></i>Reload</a>
    </form>
    
    <script>
    $(document).ready(function() {
      
    
            $('#rangeStart').datepicker({dateFormat: "yy-mm-dd"});
            $('#rangeEnd').datepicker({dateFormat: "yy-mm-dd"});
    
            $('#rangeStart_btn').click(function(){ $('#rangeStart').datepicker('show') });
            $('#rangeEnd_btn').click(function(){ $('#rangeEnd').datepicker('show') });
          
            $('#rangeRefresh').click(function(){ });
    
    });
    </script>
    
    
  </div><!-- end span12 -->
  
</div> <!-- End Row -->

   

