<% 
# @dates
# @rentals
# @customers
# @locations 

@customer =  @customers[@customerID.to_i]

%>
<% content_for(:head) do %>
  <%= javascript_include_tag 'admin/modal_product'%>
  <%= javascript_include_tag 'admin/modal_rental'%>
<% end %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Rentals: By Customer</h1>
    </div>
    <h3>Date Range</h3>

    <%= render "dateRange" %>
    <div class="well">
      <h3 style="display:inline-block;"><%= @customer.first_name %> <%=  @customer.last_name %></h3>
      <% if(@customer.email != '') %><strong><br><%= @customer.email %></strong><% end %>
      <% if(@customer.phone != '') %><br><%= @customer.phone %> <% end %>
      <% if(@customer.note != '') %><br><%= @customer.note %> <% end %>
      <br>Shopify Customer ID: <%= @customer.customerID%>
    </div>
    
    <% @dates.each do |day| %>
    <div class="well outline">
      <div style="margin:0;" class="page-header">
         <h2><%= day.strftime('%A, %B %d, %Y') %></h2>
      </div>
      <%
      dayLocations = []
      dayRentals = @rentals.select do |rental|
        if(rental.deliveryDate == day || rental.pickupDate == day)
          dayLocations << rental.location_id
          true
        else
          false
        end
      end
      
      dayLocations = dayLocations.uniq
      
      dayLocations.each do |location|
        cLocation = @locations[location]
        locationPickups = []
        locationDeliveries = dayRentals.select do |rental|
          if(rental.location_id == location)
            if(rental.deliveryDate == day)
              true
            else
              locationPickups << rental
              false
            end
          else
            false
          end
        end
        
          %>
        <div class="well">
          <div class="row">
            <div class="span3" style="border-right: 1px solid #CCCCCC;">
               <h3>Delivery/Pickup Location:</h3>
              <h4 style="display:inline-block;"><%= cLocation.first_name %> <%= cLocation.last_name %></h4>
              <br><br>
              <address>
                <% if(cLocation.company != '') %><strong><br><%= cLocation.company %></strong><% end %>
                <% if(cLocation.address1 != '') %><br><%= cLocation.address1 %><% end %>
                <% if(cLocation.address2 != '') %><br><%= cLocation.address2 %><% end %>
                <% if(cLocation.city != '') %><br><%= cLocation.city %><% end %><% if(cLocation.province != '') %>, <%= cLocation.province %><% end %><% if(cLocation.zip != '') %>, <%= cLocation.zip %><% end %>
                <% if(cLocation.phone != '') %><br><%= cLocation.phone %><% end %>
              </address>
            </div>
            <div class="span8">
               <% if locationDeliveries.length > 0 %>
                <h4>Deliveries:</h4>
                  <table class="table table-striped rental">
                    <tbody>
                    <% locationDeliveries.each do |rental| %>
                      <tr>
                        <td><a data-productid="<%= rental.product_id %>" href="javascript:void(null);" class="showProduct"><%= rental.product.title %></a></td>
                        <td><%= rental.rental_type %></td>
                        <td align="right">
                          <a data-rentalid="<%= rental.id %>" class="btn editRental" href="javascript:void(null);"><i class="icon-pencil"></i> Edit</a>
                          <a data-rentalid="<%= rental.id %>" style="margin-left: 5px;" class="btn btn-danger deleteRental" href="javascript:void(null);"><i class="icon-trash"></i></a>
                        </td>
                      </tr>
                     <% end %>
                    </tboby>
                  </table>
                <% end #end if deliveries %>
                
                <% if locationPickups.length > 0 %>
                <h4>Pickups:</h4>
                  <table class="table table-striped rental">
                    <tbody>
                    <% locationPickups.each do |rental| %>
                      <tr>
                        <td><a data-productid="<%= rental.product_id %>" href="javascript:void(null);" class="showProduct"><%= rental.product.title %></a></td>
                        <td><%= rental.rental_type %></td>
                        <td align="right">
                          <a data-rentalid="<%= rental.id %>" class="btn editRental" href="javascript:void(null);"><i class="icon-pencil"></i> Edit</a>
                          <a data-rentalid="<%= rental.id %>" style="margin-left: 5px;" class="btn btn-danger deleteRental" href="javascript:void(null);"><i class="icon-trash"></i></a>
                        </td>
                      </tr>
                     <% end %>
                    </tboby>
                  </table>
                <% end #end if pickups %>
            </div>
          </div><!-- end row --> 
         
        </div><!-- end well -->
      <% end # end location block %>
    </div> <!-- end well outline -->
  <% end # end day block %>
    
  </div><!-- end span12 -->
</div><!-- end row -->
