<% 
# @dates
# @rentals
# @customers
# @locations 


%>
<% content_for(:head) do %>
  <%= javascript_include_tag 'admin/modal_product'%>
  <%= javascript_include_tag 'admin/modal_rental'%>
<% end %>


<%if(params[:print])%>
  
  <%= render 'rentals_date_print.html.erb'%>
  
<%else #else not print%>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Rentals: By Date</h1>
      <a style="margin-top: 10px;" href="/admin/rentals/?range_start=<%=params[:range_start]%>&range_end=<%=params[:range_end]%>&layout=date&print=1" class="btn"><i class="icon-print"></i> Print Page</a>
    </div>
    <h3>Date Range</h3>

    <%= render "dateRange" %>
     <% if(@dates.length == 0)%>
      No Rentals found for Date Range
      <% end%>
    
    <% @dates.each do |day| %>
    <div class="well outline">
      <div style="margin:0;" class="page-header">
         <h2><%= day.strftime('%A, %B %d, %Y') %></h2>
      </div>
      <%
      dayLocations = []
      dayRentals = @rentals.select do |rental|
        if(rental.deliveryDate == day || rental.pickupDate == day)
          dayLocations << rental.location_id
          true
        else
          false
        end
      end
      
      dayLocations = dayLocations.uniq %>
    
      <%
      dayLocations.each do |location|
        cCustomer = @customers[@locations[location].customer_id]
        cLocation = @locations[location]
        locationPickups = []
        locationDeliveries = dayRentals.select do |rental|
          if(rental.location_id == location)
            if(rental.deliveryDate == day)
              true
            else
              locationPickups << rental
              false
            end
          else
            false
          end
        end
        
          %>
        <div class="well">
          <div class="row">
            <div class="span5" style="border-right: 1px solid #CCCCCC;">
                <h3>Customer:</h3>
                <h4 style="display:inline-block;margin-bottom:10px;"><%= cCustomer.first_name %> <%=  cCustomer.last_name %></h4><br>
                <a class="btn" href="/admin/rentals/?customerID=<%=cCustomer.id%>&layout=customer"><i class="icon-th-list"></i>View</a>
                <a href="/admin/add_rental/single?customerID=<%=cCustomer.id%>" class="btn btn-primary"><i class="icon icon-white icon-plus"></i> Add Rental</a>
                <br>
                  <% if(cCustomer.email != '') %><strong><br><%= cCustomer.email %></strong><% end %>
                  <% if(cCustomer.phone != '') %><br><%= cCustomer.phone %> <% end %>
                  <% if(cCustomer.note != '') %><br><%= cCustomer.note %> <% end %>
                   <% if(cCustomer.customerID != '') %><br>Shopify Customer ID: <%= cCustomer.customerID%> <%end%>
            </div>
            <div class="span5">
              <h3>Delivery/Pickup Location:</h3>
              <h4 style="display:inline-block;"><%= cLocation.first_name %> <%= cLocation.last_name %></h4>
              <br><br>
              <address>
                <% if(cLocation.company != '') %><strong><br><%= cLocation.company %></strong><% end %>
                <% if(cLocation.address1 != '') %><br><%= cLocation.address1 %><% end %>
                <% if(cLocation.address2 != '') %><br><%= cLocation.address2 %><% end %>
                <% if(cLocation.city != '') %><br><%= cLocation.city %><% end %><% if(cLocation.province != '') %>, <%= cLocation.province %><% end %><% if(cLocation.zip != '') %>, <%= cLocation.zip %><% end %>
                <% if(cLocation.phone != '') %><br><%= cLocation.phone %><% end %>
              </address>
            </div>
          </div><!-- end row -->
       
    
          
    
          
          <br>
          <div class="row">
            <div class="span11">
            <% if locationDeliveries.length > 0 %>
            <h4>Deliveries:</h4>
              <table class="table table-striped rental">
                <tbody>
                <% locationDeliveries.each do |rental| %>
                  <tr>
                    <td><a data-productid="<%= rental.product_id %>" href="javascript:void(null);" class="showProduct"><%= rental.product.title %></a></td>
                    <td><% if rental.rental_type == "recurring"%><% @subscription = Subscription.where('subscriptionID = ?', rental.chargifyID).first %>Recurring - <span class="<%=@subscription.subscription_state%>"><%=@subscription.subscription_state%></span><% else %>Single<% end %></td>
                    <td align="right">
                      <a data-rentalid="<%= rental.id %>" class="btn editRental" href="javascript:void(null);"><i class="icon-pencil"></i> Edit</a>
                      <a data-rentalid="<%= rental.id %>" style="margin-left: 5px;" class="btn btn-danger deleteRental" href="javascript:void(null);"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                 <% end %>
                </tboby>
              </table>
            <% end #end if deliveries %>
            
            <% if locationPickups.length > 0 %>
            <h4>Pickups:</h4>
              <table class="table table-striped rental">
                <tbody>
                <% locationPickups.each do |rental| %>
                  <tr>
                    <td><a data-productid="<%= rental.product_id %>" href="javascript:void(null);" class="showProduct"><%= rental.product.title %></a></td>
                    <td><% if rental.rental_type == "recurring"%><% @subscription = Subscription.where('subscriptionID = ?', rental.chargifyID).first %>Recurring - <span class="<%=@subscription.subscription_state%>"><%=@subscription.subscription_state%></span><% else %>Single<% end %></td>
                    <td align="right">
                      <a data-rentalid="<%= rental.id %>" class="btn editRental" href="javascript:void(null);"><i class="icon-pencil"></i> Edit</a>
                      <a data-rentalid="<%= rental.id %>" style="margin-left: 5px;" class="btn btn-danger deleteRental" href="javascript:void(null);"><i class="icon-trash"></i></a>
                    </td>
                  </tr>
                 <% end %>
                </tboby>
              </table>
            <% end #end if deliveries %>
            
            </div>
          </div><!-- end row -->
         
          
         
        </div><!-- end well -->
      <% end # end location block %>
    </div> <!-- end well outline -->
  <% end # end day block %>
    
  </div><!-- end span12 -->
</div><!-- end row -->

<%end #end not print%>
