<div class="row">

  <div class="span12">
    <div id="calendar"></div>
    <h2>Rental Dashboard</h2>
  
    <% if @orders.blank? %>
      <table class="table table-striped">
        <tr>
          <td><em>There are no orders in your store.</em></td>
        </tr>
      </table>
    
    <% else %>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order</th>
            <th>Placed by</th>
            <th>Paid</th>
            <th>Total</th>
          </tr>
        </thead>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.name, "https://#{current_shop.url}/admin/orders/#{order.id}", :target => 'blank' %></td>
          <td><%= order.billing_address.name %></td>
          <td>
            <span class="label  <% if order.financial_status  == 'paid' %>label-success<% end %> <% if order.financial_status  == 'pending' %>label-warning<% end %> <% if order.financial_status  == 'refunded' %>label-important<% end %>"><%= order.financial_status %>
            </span>
          </td>
          <td><%= order.total_price %> <%= order.currency %></td>
        </tr>
      <% end %>
      </table>
      
    <% end %>
    
    <br/>
    
   
  </div> <!-- span8 / right-column -->
</div>